<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <array name="globalVariables" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">testVar01</value>
        <value name="value">10</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">testVar03</value>
        <value name="value">10</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">testVar04</value>
        <value name="value">10</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">tt1</value>
        <value name="value">100</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">tt2</value>
        <value name="value">100</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">var10101</value>
        <value name="value">1010100101</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">vaultVal3</value>
        <value name="value">40</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">test12</value>
        <value name="value">113</value>
        <value name="isSecure">false</value>
      </record>
    </array>
  </record>
</IDataXMLCoder>
